
@{
    ViewData["Title"] = "HTML Forms Example";
}

<h1>HTML Forms Example</h1>

<form method="post">
    <br />
    <input type="text" id="full-name" placeholder="Full Name" />
    <span>*</span>
    <br />
    <br />

    <input type="date" id="dob" placeholder="Date Of Birth" />
    <span>*</span>
    <br />
    <br />

    <input type="text" id="fav-num" placeholder="Favorite Number" />
    <span>*</span>
    <br />
    <br />

    <input type="submit" id="submit" value="Add Student" class="btn btn-primary" />
</form>

